*{
    transition: all .3s;
    margin: 0px;
    padding: 0px;
}
.pop_up{
    transition: all .2s;
}
.pop_up.remove_popup{
    color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}
.left-container{
    width: 70%;
}
.add-post {
    height: 120px;
    width: 40%;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 10px 2px rgb(224, 224, 224);
    z-index: 5;
}

.add-post:hover{
    box-shadow: 5px 5px 10px 2px rgb(187, 187, 187);
}
.opened{
    box-shadow: 5px 5px 20vh 2px rgb(187, 187, 187)!important;
    height: 450px;
}
i{
    transition: all .3s;
}
#caret{
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(105, 105, 105);
}
.rotate{
    border: 1px solid red!important;
    color: red;
    rotate: 90deg;
}
.add-code,.add-media{
    transition: all .3s;
    background-color: rgba(50,50,50,.2);
    border: 1px solid rgb(50,50,50);
    border-radius: 5px;
    padding: 5px;
}
.add-code:hover,.add-media:hover{
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid rgb(100,100,100);
    box-shadow: 5px 5px 10px 1px rgb(187, 187, 187);
    border-radius: 5px;
    padding: 5px;
}
.description{
    width: 90%;
    resize: none;
    height: 150px;
}
.stories {
    display: grid;
    grid-template-columns: repeat(3,150px);
    height: 160px;
    gap: 24px ;
}
.m-story ,.i-story{
    transition: all .3s;
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    width: 150px;
    box-shadow: 5px 5px 10px 2px rgb(224, 224, 224);
}
.m-story:hover ,.i-story:hover{
    border-radius: 10px 10px 0px 0px;
    height: 160px;
    width: 150px;
    box-shadow: 5px 5px 10px 1px rgb(187, 187, 187);
}
.open-story{
    position: absolute;
    top:50px;
    left: 50px;
    width: 60%;
    height: 80%;
    box-shadow: 0px 0px 600px 100px black;
    z-index: 6;
}
.open-story:hover{
    position: absolute;
    top:50px;
    left: 50px;
    width: 60%;
    height: 80%;
    box-shadow: 0px 0px 600px 100px black;
}
.i-story{
    overflow: hidden;
}
.i-story img{
    filter: blur(2px);
    width: 100%;
}
.user-s img{
    margin-top: -15px;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.add-story {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 50%;
    background-color: black;
}
.profile-chat{
    width: 20%;
    transition: all .3s;
    position: fixed;
    right: 50px;
    top: 90px;
}
.profile-chat.sticky{
    top: 10px;
}
.profile-chat.sticky .chats{
    margin-top: 30px;
    max-height: 500px;
}
.profile-chat .infos{
    position: relative;
    perspective: 1000px;
}
.profile-chat .infos .notifications_btn{
    margin-top: -5px;
    margin-left: 10px;
    position: absolute;
    transition: all .3s;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    padding: 6px;
    background-color: rgb(253, 83, 83);
    cursor: pointer;
}
.profile-chat .infos .notifications_btn.updating{
    transform: rotateY(360deg);
    padding: 2px;
    color: rgb(204, 211, 216);
    background-color: rgb(247, 115, 115);
}
.profile-chat .notifications {
    width: 100%;
    max-height: 50%; 
    overflow-y: hidden;
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    animation: show_notifications;
    animation-duration: .8s;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 10px;
    z-index: 1;
    opacity: 1;
}

@keyframes show_notifications {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 50%; /* Set the maximum height you desire */
    }
}
.profile-chat .notifications h6{
    cursor: pointer;
}
.profile-chat .notifications .delivered h6{
    color: rgb(253, 83, 83);
}
.profile-chat .notifications a{
    color: rgb(253, 83, 83);
    text-decoration: none;
}
.profile-chat .filter{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.profile-chat .filter a{
    width: 120px;
    padding: 8px;
    transition: all .3s;
    border-radius: 15px;
    text-align: center;
    color: #000000;
    transition: all .3s;
    text-decoration: none;
    box-shadow: 5px 5px 10px 2px rgb(224, 224, 224);
}
.profile-chat .filter a:hover{
    font-size: 17px;
    padding: 6px;
    background-color: rgb(173, 171, 171);
    box-shadow: 5px 5px 10px 2px rgb(187, 187, 187);
}
.profile-chat .chats{
    transition: all .3s;
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 450px;
    padding: 20px;
}
.profile-chat .chat{
    margin-bottom: 20px;
}
.profile-chat .chat{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(187, 187, 187);

}
.profile-chat .chat img{
    border-radius: 50%;
    border:1px solid rgb(50,50,50);
    width: 40px;
    height: 40px;
}
.chats .c-content{
    font-size: small;
}
.chats .seethrow-btn{
    width: 10px;
}
.chats .new-mesage{
    font-size: small;
    display: none;
    width: 0px;
    opacity: 0;
}
.posts{
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 25px;
}
@media screen and (max-width: 1650px) {
    .chats .c-content{
        height: 0px;
        opacity: 0; 
        display: none;
        width: 0px;
    }
    .chats .new-mesage{
        display: inline-block;
        height: fit-content;
        width: fit-content;
        opacity: 1;
    }
}
@media screen and (max-width: 1000px) {
    .posts{
        grid-template-columns: 48% 48%;
    }
    .left-container {
        width: 100%;
    }
    .profile-chat{
        opacity: 0;
    }
}