.requests-notification p{
    color: red;
    transition: all .2s;
    animation: remove_notification 1s 5s forwards;
}
@keyframes remove_notification {
    0%{
        color: red;
        opacity: 1;
    }
    90%{
        color: black;
        opacity: 0;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.friend-request{
    width: 400px;
    height: 250px;
}
.friend-request img{
    outline: 1px solid black;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.friend-request .card-body{
    max-width: fit-content;
}