:root{
    --color1:rgb(202, 21, 21);
    --color2:rgb(49, 168, 152);
}
.CodeBox{
    margin-top: 12px;
    transition: all 1s;
    border-radius: 20px 20px 20px 0px;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(0, 255, 157);
    width: 50px;
    height: 50px;
    box-shadow: 2px -5px 0px 0px rgb(0, 226, 139),4px -10px 0px 0px rgb(0, 194, 120);
    animation-name: codebox;
    animation-duration: 1s;
}
.CodeBox p{
    margin-top: 3px;
    font-size:28px;
    color: rgb(0, 174, 255);
}
.CodeBox p span{
    transition: all .3s;
    overflow:auto;
    max-width: fit-content;
    height: fit-content;
    color: rgb(199, 135, 61);
}
.CodeBox:hover{
    margin-top: 6px;
    box-shadow: 0px 0px 0px 0px rgb(0, 255, 157);
}
.CodeBox:hover p span{
    margin-left: 2px;
    margin-right: 2px;
    max-width: 0px;
    height: 0px;
    overflow: hidden;
    display: inline-block;
}

@keyframes codebox {
  from {margin-top: 6px; box-shadow: 0px 0px 0px 0px rgb(0, 255, 157);}
  to { box-shadow: 2px -5px 0px 0px rgb(0, 226, 139), 4px -10px 0px 0px rgb(0, 194, 120)}
}
.navbar{
    max-height: 50px;
}
.searchbar {
    width: 20%;
}
.searchbar .form-control{
    transition: all .2s;
    border-radius: 15px;
}
.searchbar .form-control:focus{
    text-align: center;
    border: 1px solid black;
    color: white;
    box-shadow: 0px 0px 0px 20px rgb(160, 160, 160) inset;
}
.searchbar .form-control:focus::placeholder{
    text-align: center;
    color: white;
}
.welcome{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
    margin: auto;
    background: rgb(24, 24, 24);
    animation: welcome 2s;
    animation-duration: 2s;
}
.first-text{
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    animation: first_text 2s;
    animation-duration: 2s;
    transition: all .2s;
    
}
.first-text span{
    position: relative;
    z-index: 2;
}
.first-text span::after {
    overflow: hidden;
    content: 'Share';
    position: absolute;
    color: black;
    left: 0;
    bottom: 0px; 
    width: 0px; 
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 199, 125); 
    transition: all 0.3s ease, bottom 0.3s ease;
    opacity: 0;
}

.first-text span:hover::after {
    opacity: 1;
    width: 165px;
    cursor: pointer;
}
.first-text span.clicked:hover::after{
    white-space: nowrap;
    content: 'Share your work!';
    width: 475px;
    background-color:  rgb(140, 255, 125);
}
.first-text span.second::before{
    overflow: hidden;
    content: 'Start now for free';
    position: absolute;
    color: rgba(0, 0, 0, 0.37);
    left: 50px;
    top: 70px; 
    width: 375px; 
    height: 50px;
    border-radius: 10px;
    font-size:x-large;
    transition: all 0.3s ease, bottom 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
}
.welcome_code{
    margin-left: 6%;
    width: 75%;
    position: absolute;
    top: 10px;
    z-index: 1;
    perspective:1000px;
}
.welcome_code *{
    transition: all .2s;
}
.welcome_code pre {
    height: fit-content;
    user-select: none;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    cursor:default;
    animation: rotate_code;
    animation-duration: 2s;
    transform: rotateY(-15deg);
}
.welcome_code pre .line {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    display: block;
}
.welcome_code pre .line:hover {
    margin-bottom: 5px;
    margin-top: 1px;
}
.welcome_code pre .arrow{
    color: rgb(51, 146, 110);
}
.welcome_code pre .outside{
    color: rgb(148, 48, 48);
}
.welcome_code pre .inside{
    color: rgb(26, 101, 145);
}
.welcome_code pre .line:hover .arrow{
    text-shadow: 0px 15px 5px rgba(214, 158, 158, .5);
    color: rgb(56, 105, 23);
}
.welcome_code pre .line:hover .outside{
    text-shadow: 0px 15px 5px rgba(148, 48, 48,.5);
    color: rgb(26, 101, 145);
}
.welcome_code pre .line:hover .inside{
    text-shadow: 0px 15px 5px rgba(26, 101, 145, .5);
    color: rgb(148, 48, 48);
}
.first-text span.second:hover::before{
    color: rgba(0, 0, 0, 0.651);
    background-color: rgba(80, 66, 47, 0.5); 
    border: 2px;
    opacity: 1;
}
@keyframes  rotate_code {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-15deg);
    }
    
}
@keyframes first_text {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        color: rgba(255, 255, 255, 0.5);
    }
}
@keyframes welcome {
    from{
        width: 0px;
    }
}