:root{
    --post_rotate:2deg;
}
.show_opacity:not(.d-none){
    opacity: 0;
    animation: show_opacity .3s forwards;
}
@keyframes show_opacity {
    from{opacity: 0;}
    to{opacity: 1;}
}
main:has(.add-post.opened) .post{
    animation: hide_post 1s forwards!important;
}
.add-post{
    transition: height .3s .2s, width .2s .4s;
    height: 150px;
    width: 40%;
}
.add-post.opened{
    width: 70%;
    height: 80vh;
}
.post *{
    transition: all .3s;
}
.post{
    --top_slide:80px;
    position: relative;
    margin: 1.5rem;
    height: fit-content;
    transition: all .3s;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px rgb(224, 224, 224);
    opacity: 0;
    animation:show_post 1s var(--show_post_delay) forwards;
}
@keyframes hide_post {
    from{opacity: 1;}
    to{opacity: 0;margin-top:var(--top_slide);}
}
@keyframes show_post {
    from{opacity: 0;margin-top:var(--top_slide);}
    to{opacity: 1;}
}
.post.update_post{
    opacity: 0;
}
.post:-moz-drag-over{
    background-color: red;
}
.selected-post h3{
    color: red;
}
.post:hover{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px rgb(187, 187, 187);
}
.odd .post:hover {
    --post_rotate:2deg;
    rotate: var(--post_rotate);
}
.even .post:hover {
    --post_rotate:-2deg;
    rotate: var(--post_rotate);
}
.post.post-focus:hover,
.post:has(.codeblock:not(.d-none)):hover,
.post:has(.comments:not(.d-none)):hover
{
    --post_rotate:0deg;
}
.post.post-focus{
    position: absolute;
    left:30px;
    width: 60%;
    box-shadow: 0px 0px 150px 2px rgb(134, 134, 134);
    z-index: 1;
}
.post .from {
    width: fit-content;
}
.post .from img{
    max-width: fit-content;
    border-radius: 50%;
    border:1px solid rgb(50,50,50);
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.post .from a:hover{
    color: rgba(50, 70, 99, 0.7);
}

.post a{
    text-decoration: none;
    color: #000000;
}
.post i{
    transition: all .4s;
}
.post .fa-comment:hover{
    color: rgb(71, 169, 194);
}
.post .fa-comment.o-comments{
    color: rgb(71, 169, 194);
}
.post .add-comment{
    position: relative;
}
.post .comment{
    min-width: 80%;
    margin: 4px;
    padding: 2px;
    max-width: fit-content;
}
.post .edit_comment input{
    margin: 4px;
    padding: 2px;
    max-width: fit-content;
    border: 1px solid black;
}
.post .comment-wrapper .editing .comment{
    box-shadow: 0px 0px 10px 10px rgba(100, 100, 100, 0.2);
}
.post .comment-wrapper .editing .comment:hover{
    margin-left: 10px;
    box-shadow: 0px 0px 10px 10px rgba(100, 100, 100, 0.2);
}
.post .comment-wrapper .editing .edit{
    box-shadow: 0px 0px 10px 10px rgba(100, 100, 100, 0.2);
}
.post .comments pre.comment_code{
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(253, 83, 83);
}
.post .comment-wrapper{
    border: 1px solid rgba(129, 129, 129, 0.5);
    margin-bottom: 5px;
    border-radius: 10px;
}
.post .comment-wrapper .comment{
    margin-top: 5px;
    margin-left: 5px;
    word-wrap: break-word;
    white-space: normal;
    width: 60%;
}
.post .comment-wrapper .user-image{
    max-width: fit-content;
    margin-top: 5px;
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.post .comment-wrapper .username{
    user-select: none;
    display: none;
    opacity: 0;
}
.post .comment-wrapper .image-name{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.post .comment-wrapper .image-name:hover{
    width: 120px;
    height: 50px;
    background-color: rgb(28, 37, 39);
}
.post .comment-wrapper .image-name:hover .user-image{
    margin-top: 5px;
    margin-left: 10px;
}
.post .comment-wrapper .image-name:hover .username{
    display: block;
    position: absolute;
    width: 0px;
    overflow-x: none;
    color: white;
    animation: show_image 0.3s 0.3s forwards;
}
@keyframes show_image {
    to{
        overflow-x:visible;
        margin-left: 50px;
        opacity: 1;
    }
}
.post .info-box{
    position: absolute;
    transition: all .4s;
    width: 100%;
    left: 0px;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    border: 1px solid rgba(100, 100, 100, 0.2);
    background-color: beige;
    user-select: none;
}

.post .info-icon:hover .info-box:not(:hover){
    opacity: 1;
}
.post .info-icon{
    width: 25px;
    height: 25px;
    margin: auto;
    padding-left: 7px;
    border: 1px solid rgba(100, 100, 100, 0.2);
    background-color: beige;
    border-radius: 50%;
}
.post .info-icon:hover:has(> .info-box:not(:hover)) {
    border-radius: 50% 50% 0% 0%;
}
.post .fa-box-open:hover{
    color: rgb(253, 83, 83);
}
.post .pimage img{
    width: 90%;
}
.post .p-mimage a {
    cursor: pointer;
}
.post .p-mimage .hidden-images{
    display: none;
}
.post .p-mimage{
    margin-left: 25px;
    gap: 10px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
}
.post .p-mimage img:first-child{
    width: 90%;
    grid-row: 1/3;
}
.post .p-mimage img{
    width: 80%;
}
.post .p-mimage a{
    width: 80%;
    height: 90%;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(100,100,100);
}
.post.post-focus .p-mimage{
    grid-template-columns: 50% 50% ;
}
.post.post-focus .p-mimage img:first-child{
    width: 80%;
    grid-row: 1/2!important;
}
.post.post-focus .p-mimage .hidden-images{
    display: inline-block!important;
}
.post.post-focus .p-mimage a{
    display: none;
}
.post .post_settings{
    font-size: x-large;
}
.post .post_settings.settings_opened{
    color: #bdbdbd;
    rotate: 90deg;
}
.post .settings{
    display: none;
    top: 5px;
    left: 100%;
    position: absolute;
    opacity: 0;
    height: 130px;
    border-top: 1px solid rgba(41, 41, 41,0.5);
    border-bottom: 1px solid rgba(41, 41, 41,0.5);
    border-right: 1px solid rgba(41, 41, 41,0.5);
    border-radius: 0px 5px 5px 0px;
    width: 0px;
}
.post .settings .hide:hover{
    color: #bdbdbd;
}
.post .settings .report:hover{
    color: #d8ad21;
}
.post .settings .block:hover{
    color: #fd4040;
}
.post .settings.open{
    display: block;
    --width_slide: 65px;
    position: absolute;
    animation: opacity_show .5s forwards, width_animation .5s forwards;
}
@keyframes opacity_show {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes width_animation {
    from{width: 0px;overflow-x: hidden;}
    to{width:var(--width_slide);overflow-x: hidden;}
}
.codebox-animation *{
    transition: all .5s;
}
.post-btn{
    border: 1px solid black;
    border-radius: 5px;
}
.seethrow-btn{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,0,0,0);
    border: 0px;
}
.m_between_code{
    transition-delay: .3s;
}
.btn-panimation .nr_of_code{
    display: none;
}
.btn-panimation .m_between_code{
    margin-left: 10px;
}
.btn-panimation p{
    color: rgb(59, 187, 112);
    rotate: 90deg;
}